.CheckoutProduct {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  margin-left: 3rem;
}
.checkoutProduct__image {
  object-fit: contain;
  height: 180px;
}
.checkoutProduct__info button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutProduct__rating {
  display: flex;
  margin-bottom: 5px;
}
.checkoutProduct__price {
  margin: 10px 0;
}
.checkoutProduct__title {
  font-weight: 700;
}
